<h2>Welcome to <%=@user.username%>'s profile</h2>

<h4><%=@user.username%>'s posts:</h4>
<ol>
<%@posts.each do |post|%>
  <li><%=link_to post.title, post_path(post)%>
      <%=my_time(post.created_at)%>
      <%= render partial: 'owner', locals: {post: post}%>
  </li>
<%end%>
</ol>

<h4><%=@user.username%>'s comments:</h4>
<ol>
<%@comments.each do |comment|%>
  <li><%=link_to comment.body, post_path(comment.post_id)%>
      <%=my_time(comment.created_at)%>
  </li>
<%end%>
</ol>
