<%= render 'auth' %>

<h2 id= "index_title"> Welcome to Hacker News!</h2>


<%=button_to 'New Post', new_post_path, id: "new_post_button", method: :get%>
<div id= "new_post_form"></div>
<div id= "posts">

<%@posts.each do |post|%>
  <li>
    <span>by: <%=link_to post.user.username, user_path(post.user)%></span><br>
    <%=link_to post.title, post_path(post)%><br>
    <%=my_time(post.created_at)%>
    <%= render partial: 'post_owner', locals: {post: post}%>
  </li>
<%end%>

</div>


